.article{
    display: flex;
    justify-content: space-between;
}
.article1{
    text-align: center;
    border: solid;
    width: 350px;
    height: 168px;
    background: azure;
    
    
}
.photo{
    display: flex;
    height: 223px;
    width: 231px;
        
}
.article2 h1{
    text-align: center;
    border:solid;
    margin: auto;
    width: 280px;
    

}

P{
    font-size: 22px;
}